*{
    color:#6e6c6c;   
    font-family:arial;   
}
.main_content_div{
    width:60%;
    margin:30px auto;   
    border:thin solid #e3e1e3;
    padding:10px;
    overflow: auto;
}
h4{
    font-size: 14px;
    font-weight:bold;
    color:#003399;
}
.light{    
    text-decoration: none !important;
    color:#6e6c6c !important;
    display: block;
    font-style:italic;
    padding-bottom: 5px;
}
.block{
    display: block;
    color:#6666ff;
    font-size:1.03em;
}
#temp_place,#temp_type{
    padding-bottom: 10px;
    padding-left: 20px;
}
#head_place{
    padding-left: 20px;
}
.set{
    background-color:#ECF1EF;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.set_head{
  text-decoration: none;
  border-bottom:2px solid #FFFFFE;
  font-size: 18px;
}
select{
    width:100px;
    height:25px;
   
}
div#login, div#logout
{
    display:none;
}
/*#add_photo,#add_post,#url,#upload{
  display:none; 
}*/

