/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2014, 10:11:49 AM
    Author     : CoreTechhies
*/
.adduser{
    margin-top: 20px;
    padding-left: 20%;
    padding-bottom: 20px;
    padding-top: 15px;
    border: solid 1px #dddddd;
    border-radius: 5px;
}
body{
   //font-family: "Courier New", Times, serif;
}
h2{
    //font-family: "Courier New", Times, serif;
     margin-left: 200px;
     color: #919191;
}
.bordercl{
    border: solid 1px grey;
}
.newh3 {
   text-align: center !important;
   margin: 0 !important;
   padding:5px;  
   padding-top: 20px;
   color: #919191;
}
.form_login{
    padding: 20px;
}
.brdr{
   border:solid 1px grey;
  // padding: 5px !important;
   //background-color: #eeeded;
  // border-left: 0px;
}
.brdrr{
    border-right:solid 1px grey;  
}
.brdrp{
    padding:0 !important;
}
.header{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    
}
.headrow{
    background-color: #EBECE4;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.logo{
    padding:0px !important;
}


